<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-3" v-for="character in characters" :key="character.id">
        <div class="card m-3 mb-5 ">
          <img :src="character.image" class="card-img-top">
          <div class="card-body px-3">
            <h3 class="card-title mb-0 ">{{ character.name }}</h3>
            <p class="card-species-gender fst-italic ">{{ character.species }} - {{ character.gender }}</p>
            <h6 class="card-origin  text-light-emphasis">Origin: <h5 class="origin text-dark">{{ character.origin.name }}</h5> </h6>
            <h6 class="card-location  text-light-emphasis">Location: <h5 class="location text-dark">{{ character.location.name}}</h5> </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.card-body {
  padding-left: 0;
}
</style>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      characters: []
    };
  },
  mounted() {
    this.fetchCharacters();
  },
  methods: {
    fetchCharacters() {
      axios
        .get('https://rickandmortyapi.com/api/character/[1,2,3,4,5,6,7,8]')
        .then(response => {
          this.characters = response.data;
        })
        .catch(error => {
          console.error(error);
        });
    }
  }
};
</script>