<template>
    <nav class="navbar navbar-expand-md bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand m-0" href="/">
          <img src="../assets/rick-and-morty-logo.png" alt="Rick and Morty Logo" width="90" height="90" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler bg-secondary-subtle m-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo02">
          <ul class="navbar-nav justify-content-center">
            <li class="nav-item-home m-4">
              <a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover fs-5" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item m-4">
              <a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover fs-5" aria-current="page" href="/all-characters">All Characters</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</template>
<script>
  export default {
    name: 'Navbar',
  };
</script>