<template>
    <div>
      <Navbar />
      <div class="image-container text-center m-3 my-5">
          <img class="img-fluid" src="../assets/rick-and-morty-title.png" alt="Rick and Morty Title">
      </div>
      <Card />
    </div>
</template>
<script>
import Navbar from './Navbar.vue'
import Card from './Card.vue'

export default {
  components: {
    Navbar,
    Card
  },
}
</script>