<template>
  <div class="container my-5">
    <v-data-table
      v-model:items-per-page="itemsPerPage"
      :headers="headers"
      :items="characters"
      item-key="name"
      class="elevation-4"
    ></v-data-table>
  </div>
</template>

<script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        itemsPerPage: 5,
        headers: [
          { title: 'Name', key: 'name' },
          { title: 'Status', key: 'status' },
          { title: 'Species', key: 'species' },
          { title: 'Gender', key: 'gender' },
          { title: 'Origin', key: 'origin.name' },
        ],
        characters: [],
      };
    },
    mounted() {
      this.fetchAllCharacters();
    },
    methods: {
      fetchAllCharacters() {
        const baseUrl = 'https://rickandmortyapi.com/api/character';
        const characters = [];
  
        this.fetchCharacters(baseUrl, characters)
          .then(() => {
            this.characters = characters;
          })
          .catch(error => {
            console.error(error);
          }); 
      },
      fetchCharacters(url, characters) {
        return axios
          .get(url)
          .then(response => {
            const results = response.data.results;
            characters.push(...results);
            
            if (response.data.info.next) {
              return this.fetchCharacters(response.data.info.next, characters);
            }
          });
      },
    },
  };
</script>